
.notification-main {
  display: flex;
  flex-flow: column;
  row-gap: 24px;
  flex: 0 1 auto;

  margin: 38px;
  background: white;
  padding: 24px;
  box-shadow: 10px 10px 10px -8px rgba(0,0,0,0.75);
  border-radius: 10px;

  .notification-date {
    margin-left: 14px;
    font-size: 14px;
  }

  .notification-icon {
    &_ANFORDERUNG_ECON {
      color: #3f615a;
    }
    &_ANTWORT_ECON {
      color: #3f615a;
    }
    &_ABLEHNUNG_ECON {
      color: #cf3c4f;
    }
    &_ZUSTIMMUNG_ECON {
      color: #3f615a;
    }
    &_ABSCHLUSS_ECON {
      color: #3f615a;
    }
    &_ANFORDERUNG_ECP {
      color: #3f615a;
    }
    &_ANFORDERUNG_PT {
      color: #3f615a;
    }
    &_ANTWORT_PT {
      color: #3f615a;
    }
    &_ABLEHNUNG_PT {
      color: #cf3c4f;
    }
    &_AUFHEBUNG_CCMI {
      color: #3f615a;
    }
    &_AUFHEBUNG_CCMS {
      color: #DC631E;
    }
    &_AUFHEBUNG_CCMC {
      color: #DC631E;
    }
    &_ABLEHNUNG_CCMS {
      color: #DC631E;
    }
    &_ANTWORT_CCMS {
      color: #3f615a;
    }
    &_ANFORDERUNG_GN {
      color: #3f615a;
    }
    &_ERROR_MESSAGE {
      color: #cf3c4f;
    }
  }
}