
@mixin eeg-cards {
  position: relative;
  padding: 10px 15px 10px 10px;
  margin-left: 5px;
  border-radius: 5px 0 0 5px;

  &.selected {
    background: rgb(234, 231, 217);
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.14), inset 0px 1px 10px rgba(0, 0, 0, 0.12), inset 0px 2px 4px rgba(0, 0, 0, 0.2);
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      width: 5px;
      background: #79DFB4;
      border-radius: 5px 0 0 5px;
    }
  }
}

.eeg-cards {
  @include eeg-cards;
}