.pane-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pane-footer {
  & .button-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*background: red;*/
    height: 80px;
    margin-top: auto;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.2);
    background: var(--ion-color-eeglight, #fff);
  }
}

.pane-content {
  display: flex;
  flex-direction: column;
  //height: 100%;
  //max-height: 100%;
  max-width: 400px;
  flex-grow: 1;
  overflow: hidden;
  & .fixed-header {
    background: var(--ion-color-eeglight);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.06), 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.scroll-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.details-body {
  padding: 10px 25px;
  position: relative;

  & > .details-header {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    background: transparent;
  }

  & .details-container {
    margin: 16px 32px;
  }

  & .details-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
.eeg-pane-content {
  background: var(--ion-color-eeglight);
  //position: absolute;
  //bottom: 0;
  //height: 100%;
  //overflow: auto;
  //width: 100%;
}