/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #2B6860;
  --ion-color-primary-rgb: 43,104,96;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #265c54;
  --ion-color-primary-tint: #407770;

  --ion-color-secondary: #79DFB4;
  --ion-color-secondary-rgb: 121,223,180;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #6ac49e;
  --ion-color-secondary-tint: #86e2bc;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #DC631E;
  --ion-color-warning-rgb: 220,99,30;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #c2571a;
  --ion-color-warning-tint: #e07335;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-eeglight: #fffcf6;
  --ion-color-eeglight-rgb: 255,252,246;
  --ion-color-eeglight-contrast: #000000;
  --ion-color-eeglight-contrast-rgb: 0,0,0;
  --ion-color-eeglight-shade: #e0ded8;
  --ion-color-eeglight-tint: #fffcf7;

  /** eeg **/
  /*--ion-color-eeg: #ecfaf4;*/
  --ion-color-eeg: #F9F7EC;
  --ion-color-eeg-rgb: 249,247,236;
  --ion-color-eeg-contrast: #000000;
  --ion-color-eeg-contrast-rgb: 0,0,0;
  --ion-color-eeg-shade: #dbd9d0;
  --ion-color-eeg-tint: #faf8ee;

  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  --ion-color-warning-light: rgba(220, 121, 30, 0.08);
  --ion-color-warning-light-rgb: rgba(220, 121, 30, 0.08);
  --ion-color-warning-light-contrast: #DC631E;
  --ion-color-warning-light-contrast-rgb: 220,99,30;
  --ion-color-warning-light-shade: #c26a1a;
  --ion-color-warning-light-tint: #e08635;

  /*--ion-toolbar-background: #6100ec;*/
  --eeg-background-color: #f8fae3;

  --eeg-background-consumer: #368060;
  --eeg-background-producer: #B00054;
  --ion-item-background: #FFFCF7;
}


@media (prefers-color-scheme: light) {

  .md body {
    --ion-color-step-500: #dcdcdc;
    --eeg-background-color: #f8fae3;

    /*--eeg-background-producer: #368060;*/
    /*--eeg-background-consumer: #B00054;*/
    /*--ion-item-background: #FFFCF7;*/

    /*--ion-background-color: #F9F7EC;*/
    /*--ion-background-color-rgb: 249,247,236;*/

    --ion-text-color: #1E4640;
    --ion-text-color-rgb: 30,70,64;

    --ion-color-step-50: #eeeee3;
    --ion-color-step-100: #e3e5db;
    --ion-color-step-150: #d8dcd2;
    --ion-color-step-200: #cdd4ca;
    --ion-color-step-250: #c2cbc1;
    --ion-color-step-300: #b7c2b8;
    --ion-color-step-350: #acb9b0;
    --ion-color-step-400: #a1b0a7;
    --ion-color-step-450: #96a79f;
    --ion-color-step-500: #8c9f96;
    --ion-color-step-550: #81968d;
    --ion-color-step-600: #768d85;
    --ion-color-step-650: #6b847c;
    --ion-color-step-700: #607b74;
    --ion-color-step-750: #55726b;
    --ion-color-step-800: #4a6962;
    --ion-color-step-850: #3f615a;
    --ion-color-step-900: #345851;
    --ion-color-step-950: #294f49;
    /*--ion-border-color: rgba(0, 0, 0, 0.13);*/

    --eeg-surface-color: #FFFCF6;
  }

  ion-item {
    --border-color: var(--ion-color-step-150, lightgray);
  }

  ion-col {
    background-color: transparent;
  }

  ion-item {
    background-color: transparent !important;
  }

}

.ion-color-eeg {
  --ion-color-base: var(--ion-color-eeg);
  --ion-color-base-rgb: var(--ion-color-eeg-rgb);
  --ion-color-contrast: var(--ion-color-eeg-contrast);
  --ion-color-contrast-rgb: var(--ion-color-eeg-contrast-rgb);
  --ion-color-shade: var(--ion-color-eeg-shade);
  --ion-color-tint: var(--ion-color-eeg-tint);

  /*--ion-background-color: var(--ion-color-eeg, #92949c) !important;*/
  /*--ion-background-color-rgb: var(--ion-color-eeg-rgb, rgb(146, 148, 156)) !important;*/

  /*--ion-border-color: #dcdcdc;*/
}

.ion-color-eeglight {
  --ion-color-base: var(--ion-color-eeglight, #fffcf6) !important;
  --ion-color-base-rgb: var(--ion-color-eeglight-rgb, rgb(56, 128, 255)) !important;
  --ion-color-contrast: var(--ion-color-eeglight-contrast, #000) !important;
  --ion-color-contrast-rgb: var(--ion-color-eeglight-contrast-rgb, rgb(0, 0, 0)) !important;
  --ion-color-shade: var(--ion-color-eeglight-shade, #3171e0) !important;
  --ion-color-tint: var(--ion-color-eeglight-tint, #9d9fa6) !important;
}

.ion-color-warning-light {
  --ion-color-base: var(--ion-color-warning-light);
  --ion-color-base-rgb: var(--ion-color-warning-light-rgb);
  --ion-color-contrast: var(--ion-color-warning-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-warning-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-warning-light-shade);
  --ion-color-tint: var(--ion-color-warning-light-tint);
}

.ion-small-padding {
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-top: 14px;
  --padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.eeg-item-box::part(native) {
  background: var(--eeg-surface-color, #fff);
}

.eeg-toolbar {
  --ion-toolbar-background: var(--eeg-toolbar-background);
  --ion-toolbar-color: var(--eeg-toolbar-color);
  --ion-toolbar-segment-color: rgb(255, 255, 255, 0.74);
  --ion-toolbar-segment-color-checked: rgb(255, 255, 255, 100);
}

.details-body {
  padding: 10px 25px;
  position: relative;
}

.details-header {
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 30px;
  background: transparent;
}

.details-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
