

@media (max-device-width: 905px) {
    .login-page {
        width: 100%;
    }
}

.login-page {
    margin: auto;
    width: 905px;
}

.text-divider {
    --text-divider-gap: 1rem;
    display: flex;
    align-items: center;
    font-size: 0.7375rem;
    /*text-transform: uppercase;*/
    letter-spacing: 0.06em;
}

.text-divider::before, .text-divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1;
}

.text-divider::before {
    margin-right: var(--text-divider-gap);
    margin-left: 5px;
}

.text-divider::after {
    margin-left: var(--text-divider-gap);
    margin-right: 5px;
}