
.participant-pane {
    position: relative;
    height: 100%;
    width: 400px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.pane-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pane-footer {
    & .button-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /*background: red;*/
        height: 80px;
        margin-top: auto;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
        background: var(--ion-color-eeglight, #fff);
    }
}

.pane-content {
    overflow-y: auto;
    height: 100%;
    & .fixed-header {
        background: var(--ion-color-eeglight);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.06), 0px 2px 4px rgba(0, 0, 0, 0.1);
    }
}

.participant {
    position: relative;
    margin-left: 5px;
    &.selected {
        background: #EAE7D9;
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            top: 0;
            width: 5px;
            background: #79DFB4;
            border-radius: 5px 0 0 5px;
        }
    }
}