.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 22px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3C3C3C;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--ion-color-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--ion-color-primary-tint);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(60px);
}

/*------ ADDED CSS ---------*/
.slider:after {
  content: 'ONLINE';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 8px;
  font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
  content: 'OFFLINE';
}