ion-modal#doc-upload-modal {
  --width: fit-content;
  --max-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  --padding: 10px;
  font-size: 14px;
}

ion-modal#doc-upload-modal h3 {
  margin: 20px 20px 10px 20px;
}

//ion-modal#doc-upload-modal ion-icon {
//  margin-right: 6px;
//
//  width: 24px;
//  height: 24px;
//
//  padding: 4px 0;
//
//  //color: #aaaaaa;
//}

ion-modal#doc-upload-modal .wrapper {
  margin-bottom: 10px;
  padding: 10px;
}

.bottom-fixed-content {
  bottom: 0;
  width: 100%;
  height: 65px;
  padding: 5px;
}

.bottom-fixed-space  {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

.file-list {
  padding-top: 5px;
  & .entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 14px;

    & ion-icon {
      height: 16px;
      width: 16px;
    }
  }
}